<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

</head>

<body id="body">
    <div class="container">
        <nav class="navbar">
            <div class="nav_icon" onclick="toggleSidebar()">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <div class="navbar__left">
                <a href="#"></a>
                <a href="#"></a>
                <a class="active_link" href="#">User</a>
            </div>
            <div class="navbar__right">
                <a href="#">

                </a>
                <a href="#">

                </a>
                <a href="#">
                    <img width="30" src="assets/avatar.svg" alt="" style="position:absolute; right:-366px; top:20px;" />

                </a>
            </div>
        </nav>

        <main>
            <div class="main__container">

                <div class="form">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputId">Leave ID</label>
                            <input type="number" [(ngModel)]="leaveObj.leaveId" name="id" class="form-control"
                                id="exampleInputId" aria-describedby="idHelp" placeholder="Leave Id">

                        </div>
                        <br>
                        <div class="form-group">
                            <label for="exampleInputName">Reason</label>
                            <input type="text" [(ngModel)]="leaveObj.reason" name="description" class="form-control"
                                id="description" placeholder="Decline Reason">
                        </div><br>
                        <button type="submit" class="glow-on-hover1" (click)="declineWithVal()">Decline</button> &nbsp;
                        <button type="submit" (click)="approveWithVal()" class="glow-on-hover2">Approve</button>
                    </form>


                </div>


                <br>
                <h2>Employee's Leave Details</h2>

                <table border="1" class="table table-striped  ">
                    <thead class="thead-dark">
                        <tr>
                            <!--<th>Employee ID</th> -->
                            <!--<th>User id</th> -->
                            <th>Leave Id</th>
                            <th>username</th>
                            <th>Leave date</th>
                            <th>Leave till</th>
                            <th>Project name</th>
                            <th>Reason</th>
                            <th>Status</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let leave of leaveList">
                            <!-- <td>{{leave.userid}}</td> -->
                            <td>{{leave.leaveId}}</td>
                            <td>{{leave.userName}}</td>
                            <td>{{leave.startDate}}</td>
                            <td>{{leave.endDate}}</td>
                            <td>{{leave.projectName}}</td>
                            <td>{{leave.reason}}</td>
                            <td>{{leave.status}}</td>
                        </tr>
                    </tbody>
                </table>

                <br><br>


            </div>
        </main>

        <div id="sidebar">
            <div class="sidebar__title">
                <div class="sidebar__img">
                    <img src="assets/log.JPG" alt="logo" />

                </div>
                <i onclick="closeSidebar()" class="fa fa-times" id="sidebarIcon" aria-hidden="true"></i>
            </div>

            <div class="sidebar__menu">
                <div class="sidebar__link active_menu_link">
                    <i class="fa fa-home"></i>
                    <a routerLink="/admin-dashboard">Dashboard</a>
                </div>
                <h2></h2>
                <div class="sidebar__link">
                    <i class="fa fa-user" aria-hidden="true"></i>


                    <a routerLink="/add-project">Add Project</a>
                </div>
                <div class="sidebar__link">
                    <i class="fa fa-list" aria-hidden="true"></i>

                    <a routerLink="/employee-list">Employee List</a>
                </div>
                <div class="sidebar__link">
                    <i class="fa fa-calendar " aria-hidden="true"></i>
                    <a routerLink="/manage-leave">Leave</a>
                </div>
                <div class="sidebar__link">
                    <i class="fa fa-thumb-tack" aria-hidden="true"></i>

                    <a routerLink="/assign-task">Assign Task</a>
                </div>
                <div class="sidebar__link">
                    <i class="fa fa-thumb-tack" aria-hidden="true"></i>

                    <a routerLink="/all-task-status">Task History</a>
                </div>
                <div class="sidebar__link">
                    <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                    <a routerLink="/add-employee">Add Employee</a>
                </div>
                <div class="sidebar__logout">
                    <i class="fa fa-power-off"></i>
                    <a (click)="logout()">Log out</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="script.js"></script>
</body>