<header class="header">
  <!-- Primary Navbar

  <!-- Secondary Navbar                -->
  <nav class="navbar navbar-expand-lg navbar-light py-0 shadow-sm bg-white">
    <div class="container">
      <div class="collapse navbar-collapse py-3 py-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link pl-lg-0" href="#" style="size: 16px;">Home <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="#">About </a></li>
          <li class="nav-item"><a class="nav-link" href="#">Contact </a></li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu border-0 shadow-sm" aria-labelledby="navbarDropdown"><a class="dropdown-item text-muted" href="#">Action</a><a class="dropdown-item text-muted" href="#">Another action</a><a class="dropdown-item text-muted" href="#">Something else here</a></div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">

          <li class="nav-item"><a class="nav-link border-left px-4 bg-primary text-white d-inline-block" routerLink='/register-user'>SIGN UP</a></li>

          <li class="nav-item"><a class="nav-link border-left px-4 bg-primary text-white d-inline-block" routerLink='/login'>LOGIN</a></li>
        </ul>

      </div>
    </div>
  </nav>
</header>

