  <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
  </head>
  <body>
    <div class="wrapper">
      <div class="title">Login</div>
      <form (ngSubmit)="onSubmit()">
        <div class="field">
          <input type="text" [(ngModel)]="credentials.emailId" name="username"  required>
          <label>Email Address</label>
        </div>
        <div class="field">
          <input type="password" (click)="getUserId()" [(ngModel)]="credentials.password" name="password" required>
          <label>Password</label>
        </div>
        <div class="content">
          <div class="checkbox">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">Remember me</label>
          </div>
          <div class="pass-link"><a routerLink="/forgot-password">Forgot password?</a></div>
        </div>
        <div class="field">
          <input type="submit" value="Login">
        </div>
        <div class="signup-link">Not a member? <a href="#">Signup now</a></div>
      </form>     
    </div>
  </body>
</html>
