<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
<Body>
<div class="wrapper">
<form>  
    <div class="title">Reset Password</div>
    <div class="field">
        <label for="exampleInputId">Email</label>   
        <input type="text" [(ngModel)]="user.emailId" name="Emailid"  class="form-control" id="exampleInputId"
          aria-describedby="idHelp" placeholder="Email">
      </div><br>

     <button type="button" class="glow-on-hover" (click)="sendotp()">Send OTP</button>

      <br><br>
      <div class="field">
        <label for="exampleInputId">OTP</label>   
        <input type="Number" [(ngModel)]="otp" name="token"  class="form-control" id="exampleInputId"
          aria-describedby="idHelp" placeholder="OTP">
      </div>

      <div class="field">
        <label for="exampleInputId">New Password</label>
        <input type="text" name="id1" [(ngModel)]="user.password" class="form-control" id="exampleInputId"
          aria-describedby="idHelp" placeholder="New Password">
      </div><br>
   
    <button type="button" class="glow-on-hover"  routerLink="/forgot-password" (click)="find()">Reset</button>
     </form>
    </div>
</Body>
</html>