<app-header></app-header>
<section class="hero-home bg-cover bg-center" style="background: url(assets/images/home-banner.d5d76471.jpg)">
  <div class="container index-forward py-5 mb-5">
    <div class="row text-white">
      <div class="col-lg-8">
        
        <br>
        <h1 class="text-uppercase my-4 text-shadow">Producteev</h1>
        <p class="h5 my-4 text-shadow">From the small stuff to the big picture, Asana organizes work so teams know what to do, why it matters, and how to get it done.</p>
        <p class="h5 my-4 text-shadow">Work better in one shared space
          Find all your team’s work—projects, goals, docs, and more—so you can connect and collaborate no matter where you are.
        </p>
        <p class="h5 my-4 text-shadow">Make all the important things easy to find, like project plans and details,
           files, feedback, and more.</p>
      </div>
      <p class="">

      </p>
    </div>
  </div>
</section>
<!-- Info Section-->

<!-- About Section-->
<div>
<section class="about bg-light pt-0" id="about">
  <div class="container text-center">
    <br/>   <br/>   <br/>   <br/>   <br/>
    <h2 class="text-uppercase lined lined-center">Welcome to <span class="text-primary">Manager Application </span></h2>
     <h3>Manage Projects with one tool</h3> 
    <div class="row pt-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h2 class="h5">Streamline communication</h2>
        <p class="text-muted px-lg-3 mb-0">Keep conversations with teammates, clients, and vendors in one place, and keep everyone on the same page.</p>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h2 class="h5">Improve collaboration</h2>
        <p class="text-muted px-lg-3 mb-0">Make all the important things easy to find, like project plans and details, files, feedback, and more.</p>
      </div>
      <div class="col-lg-4">
        <h2 class="h5">Stay on schedule</h2>
        <p class="text-muted px-lg-3 mb-0">Map out goals and prioritize tasks. You get projects off the ground faster and meet deadlines—without scrambling at the last minute.</p>
      </div>
    </div>
  </div>
</section>
</div>

<!-- Service Section-->
<section class="services" id="services">
  <div class="container text-center">
    <h2 class="text-uppercase lined lined-center"><span class="text-primary">Producteev</span></h2>
   
    <div class="row">
          <!-- Services Item-->
          <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
            <div class="card services-item border-0">
              <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                <h2 class="h6 mb-0 services-item-heading">Manage Tasks</h2>
                <div class="services-icon my-4"><i class="fa fa-tasks" aria-hidden="true"></i>
                </div>
                <p class="services-item-text text-small mb-0"></p>
              </div>
            </div>
          </div>
          <!-- Services Item-->
          <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
            <div class="card services-item border-0">
              <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                <h2 class="h6 mb-0 services-item-heading">Manage Projects
                </h2>
                <div class="services-icon my-4"><i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <p class="services-item-text text-small mb-0"></p>
              </div>
            </div>
          </div>
          <!-- Services Item-->
          <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
            <div class="card services-item border-0">
              <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                <h2 class="h6 mb-0 services-item-heading">Manage Teams</h2>
                <div class="services-icon my-4"><i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <p class="services-item-text text-small mb-0"></p>
              </div>
            </div>
          </div>
          <!-- Services Item-->
          <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
            <div class="card services-item border-0">
              <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                <h2 class="h6 mb-0 services-item-heading">Manage Leaves</h2>
                <div class="services-icon my-4"><i class="fa fa-question-circle" aria-hidden="true"></i>

                </div>
                <p class="services-item-text text-small mb-0"></p>
              </div>
            </div>
          </div>
    </div>
  </div>
</section>




<!-- Contact Section-->
<section class="contact py-5 bg-primary text-white" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="d-flex align-items-center">
          <div class="contact-icon"><i class="fas fa-phone"></i></div>
          <div class="ml-3">
            <h3 class="h5 mb-0">0221 203451 </h3>
            <p class="small mb-0"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="d-flex align-items-center">
          <div class="contact-icon"><i class="far fa-envelope"></i></div>
          <div class="ml-3">
            <h3 class="h5 mb-0">manager.cashmanagement@gmail.com</h3>
            <p class="small mb-0">Need support? Drop us an email</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<app-footer></app-footer>