<app-header></app-header>
<section class="hero-home bg-cover bg-center" style="background: url(assets/images/home-banner.d5d76471.jpg)">
  <div class="container index-forward py-5 mb-5">
    <div class="row text-white">
      <div class="col-lg-8">
        <h1 class="text-uppercase mb-0 text-shadow"> Project Application</h1>
        <p class="h5 my-4 text-shadow">Work better in one shared space

          Find all your team’s work—projects, goals, docs, and more—so you can connect and collaborate no matter where you are.
         </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      </div>
    </div>
  </div>
</section>
<!-- Info Section-->

<!-- About Section-->
<div>
<section class="about bg-light pt-0" id="about">
  <div class="container text-center">
    <br/>   <br/>   <br/>   <br/>   <br/>
    <h2 class="text-uppercase lined lined-center">Welcome to <span class="text-primary">AURIONPRO </span></h2>
    <p class="text-muted">Nulla tristique ipsum in quam. Integer ac elit. Duis turpis faucibus non</p>
    <div class="row pt-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h2 class="h5">Tasks</h2>
        <p class="text-muted px-lg-3 mb-0">Lorem ipsum dolor sit amet, conse. Proin gravida nibh vel velit auctor aliquet. Aenean.</p>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h2 class="h5">Why we</h2>
        <p class="text-muted px-lg-3 mb-0">Lorem ipsum dolor sit amet, conse. Proin gravida nibh vel velit auctor aliquet. Aenean.</p>
      </div>
      <div class="col-lg-4">
        <h2 class="h5">About Us</h2>
        <p class="text-muted px-lg-3 mb-0">Lorem ipsum dolor sit amet, conse. Proin gravida nibh vel velit auctor aliquet. Aenean.</p>
      </div>
    </div>
  </div>
</section>
</div>

<!-- Service Section-->
<section class="services" id="services">
  <div class="container text-center">
    <h2 class="text-uppercase lined lined-center">Our  <span class="text-primary">Services</span></h2>
    <p class="text-muted mb-5">Lorem ipsum dolor sit amet, consectetuer. Proin gravida nibh vel velit auctor aliquetenean.</p>
    <div class="row">
          <!-- Services Item-->
          <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
            <div class="card services-item border-0">
              <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                <h2 class="h6 mb-0 services-item-heading">Tasks</h2>
                <div class="services-icon my-4"><i class="fa fa-tasks" aria-hidden="true"></i>
                </div>
                <p class="services-item-text text-small mb-0"></p>
              </div>
            </div>
          </div>
          <!-- Services Item-->
          <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
            <div class="card services-item border-0">
              <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                <h2 class="h6 mb-0 services-item-heading">Calendar
                </h2>
                <div class="services-icon my-4"><i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <p class="services-item-text text-small mb-0"></p>
              </div>
            </div>
          </div>
          <!-- Services Item-->
          <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
            <div class="card services-item border-0">
              <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                <h2 class="h6 mb-0 services-item-heading">Users</h2>
                <div class="services-icon my-4"><i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <p class="services-item-text text-small mb-0"></p>
              </div>
            </div>
          </div>
          <!-- Services Item-->
          <div class="col-xl-3 col-md-6 mb-4 mb-xl-0">
            <div class="card services-item border-0">
              <div class="card-body border-top border-md border-primary py-5 px-4 shadow-sm">
                <h2 class="h6 mb-0 services-item-heading">Enquiry</h2>
                <div class="services-icon my-4"><i class="fa fa-question-circle" aria-hidden="true"></i>

                </div>
                <p class="services-item-text text-small mb-0"></p>
              </div>
            </div>
          </div>
    </div>
  </div>
</section>




<!-- Contact Section-->
<section class="contact py-5 bg-primary text-white" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="d-flex align-items-center">
          <div class="contact-icon"><i class="fas fa-phone"></i></div>
          <div class="ml-3">
            <h3 class="h5 mb-0"></h3>
            <p class="small mb-0"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="d-flex align-items-center">
          <div class="contact-icon"><i class="far fa-envelope"></i></div>
          <div class="ml-3">
            <h3 class="h5 mb-0">info@aurionpro.com</h3>
            <p class="small mb-0">Need support? Drop us an email</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<app-footer></app-footer>